body{
  font-size: 12px;
  margin: 0;
}

.bookCard{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 5px;
  background:rgb(237, 236, 236);
}
#bookListAll{
  display: flex;
  flex-wrap: wrap;
}
.hidden{
  display: none;
}

.title{
  background: transparent;
  color:rgb(102, 102, 102);
  margin-top: 5px;  margin-bottom: -5px; width: 100%; overflow-y: 
  hidden; resize: none; outline: none; 
  border: none; font-weight: bold; 
  background: rgba(102, 102, 102, 0.16);
  display: flex;
}

.title::placeholder{
  color:rgba(89, 89, 89, 0.52);  
}

.naviPanel{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;  
  background: rgba(102, 102, 102, 0.16);
  padding-left: 20px;
  padding-right: 20px;
}

.homePanel{
      padding-left: 20px;
  padding-right: 20px;
}
.temporlBookCard{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 5px;
  background:rgb(237, 236, 236);
}

.loginPage{
  padding-left: 20px;
  padding-right: 20px;
}