<main>
  <p>admin dashbard</p>
  <div class="actions">
    <button class="border square extra" data-ui="#addBookDialog">
      <i>add</i>
    </button>
  </div>
  <div id="dialogDiv">
    <dialog id="addBookDialog" class="modal">
      <h5>Create book</h5>
      <div class="field label border">
        <input id="bookTitle" type="file" />
        <label>Tttle</label>
      </div>
      <div class="field label border">
        <input id="bookUrl" type="text" />
        <label>Book url</label>
      </div>
      <nav class="right-align no-space">
        <button
          class="transparent link"
          data-ui="#addBookDialog"
        >Cancel</button>
        <button
          class="transparent link"
          id="createBtn"
          onclick="createBook()"
        >Confirm</button>
      </nav>
    </dialog>
  </div>

</main>