<div class="books">
  <article class="no-padding border round wave">
    <img class="responsive small top-round" src="/beer-and-woman.svg" />
    <div class="padding">
      <h5>Title</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      <nav>
        <button class="light-green9 ripple square">Button</button>
      </nav>
    </div>
  </article>
</div>