
  <div id="logsPages">
      <div id="loginPage">
      <form action="" >
            <fieldset>
                <legend>Fill all fields</legend>
                <div class="field border label">
                    <input id="emailInput" type="email">
                    <label>Email</label>
                </div>
                <div class="field border label">
                    <input id="passwordInput" type="password">
                    <label aria-required="">Password</label>
                </div>
            </fieldset>
        </form>
        <br>
        <div id="signupPanel" style="border: 1px solid #ffffff47; display: flex; padding: 10px; border-radius:5px; justify-content: center; align-items: center;">
            <button id="submitButton" class="rounded" onclick="authen()">Submit</button>
            <button id="signupLoginBtn" class="rounded">Sing up!</button>
        </div>
      </div>
      <div id="signupMgs" style="display: none; border: 1px solid #ffffff47; padding: 10px; border-radius:5px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <p>No Account with such credentials was found!</p>
            <button id="crdialSignuptBtn" class="rounded">Sign up!</button>
        </div>

      </div>
      <div id="signUpPage" style="display: none;">    
        <form action="">   
        <fieldset>
          <legend>Fill all fields</legend>
          <div class="field border label">
            <input id="emailField">
            <label>Email</label>
          </div>
          <div class="field border label">
            <input id="passwordField">
            <label>Password</label>
          </div>
        </fieldset>
            </form>
          <br>
          <button onclick="crtAccount()" class="rounded ">submit</button>
      </div>
  </div>

    <script src="./js/login.js"></script>
