<section>
    <form action="">
        
<fieldset>
  <legend>Fill all fields</legend>
  <div class="field border label">
    <input>
    <label>Email</label>
  </div>
  <div class="field border label">
    <input>
    <label>Password</label>
  </div>
    <button class="rounded ">submit</button>
</fieldset>
    </form>
</section>