<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prettybooks.com</title>
    <link rel="stylesheet" href="./css/adminpage.css">
</head>
<body>
    <p>Admin Page</p>
     <a href="/createpage">create</a> 

    <div id="booksPage">
        <div id="books">
            <div id="adminBookListAll"></div>
        </div>
    </div>

    <script src="./js/adminpage.js"></script>
</body>
</html>