<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prettybooks.com</title>
    <link rel="stylesheet" href="./css/bookapp.css">
</head>
<body>
    <div id="naviBar">
        <p>Booklist</p>
        <button id="loginBtn">login</button>
        </div>
    <div id="booksPage">
        <div id="books">
            <div id="bookListAll"></div>
        </div>
    </div>

    <div id="loginPage" style="display: none;">
        <p>Login Page</p>
        <p>The is not yet configured, click below to move to next page</p>
        <p><a href="/adminpage">admin page</a></p>
        <p><a href="/userpage">user page</a></p>
    </div>
    
    <script src="./js/app.js"></script>
    <script src="./js/bookapp.js"></script>
</body>
</html>