<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prettybooks.com</title>
    <link rel="stylesheet" href="./css/createpage.css">
</head>
<body>
    <p>create Page</p>
    <textarea id="title" rows="1" placeholder="#Book Title..."></textarea>
     <button id="saveBtn">save</button>
     
     <a href="/bookapp">home</a> 

     <script src="./js/createpage.js"></script>
</body>
</html>