<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prettybooks.com</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <p>edit Page</p>
     <a href="/bookapp">home</a> 
     <button id="saveBtn">save</button>
</body>
</html>