<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/beer.min.css" rel="stylesheet">

<script defer type="module" src="/js/beer.min.js"></script>
<script defer type="module" src="/js/material-dynamic-colors.min.js"></script>
    <title>bookapp</title>
</head>
<body>
    {{>header}}
    {{>main}}
     <script src="/js/htmx.min.js"></script>
     <script src="/js/app.js"></script>
     <script type="module" src="/js/admin_function/addbook.js"></script>
</body>
</html>