#title{
    font-weight: bold;
    font-size: 25px;
    background: transparent;
    color:rgb(102, 102, 102);
    margin-top: 5px;  margin-bottom: -5px; width: 100%; overflow-y: 
    hidden; resize: none; outline: none; 
    border: none; font-size: 17px; font-weight: bold; 
}

#title::placeholder{
    color:rgba(89, 89, 89, 0.52);
}
